* {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: grey;
  background-color: white;
  text-align: center;
}

li {
  list-style-position: inside ;
}

#header1 {
  color: black;
}

.nonbullet {
  list-style: none;
}